---
import Container from "@components/container.astro";
import Dropdown from "./dropdown.astro";
import { Astronav, MenuItems, MenuIcon } from "astro-navbar";

const menuitems = [
  {
    title: "Gallery",
    path: "/gallery",
  },
  {
    title: "About",
    path: "/about",
  },
  {
    title: "Contact",
    path: "/contact",
  },
  {
    title: "Refer & Earn",
    badge: true,
    path: "/refer-and-earn",
  },
];
---

<Container className="md:mx-10">
  <header class="fixed w-full top-0 md:top-5 left-0 z-50">
    <div
      class="bg-white sticky md:mx-14 lg:mx-28 md:rounded-[32px] shadow-md flex flex-col justify-between items-center lg:flex-row py-3 px-5">
      <div
        class="flex w-full lg:w-auto items-center justify-between lg:justify-start">
        <a href="/" aria-label="logo-link" class="text-lg flex items-center space-x-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="30" viewBox="0 0 62 107" fill="none">
            <path d="M61.7233 0L33.8797 18.212V26.0097V65.8702C30.7643 67.0228 30.7643 65.8702 27.8436 65.8702V41.6859L0 56.6705V78.8016C6.02734 120.977 61.7233 109.784 61.7233 78.8016V0Z" fill="url(#paint0_linear_39_217)"/>
            <path d="M29.4825 66.1947L19.4991 76.6107C19.1422 76.9831 18.943 77.4789 18.943 77.9946V87.015C18.943 88.1196 19.8384 89.015 20.943 89.015H30.2362H39.5294C40.634 89.015 41.5294 88.1196 41.5294 87.015V77.9144C41.5294 77.4469 41.3657 76.9942 41.0666 76.6349L32.4636 66.2991C31.7001 65.3819 30.3084 65.3331 29.4825 66.1947Z" stroke="white" stroke-width="5"/>
            <defs>
            <linearGradient id="paint0_linear_39_217" x1="51.8872" y1="9.22126" x2="5.50836" y2="71.0341" gradientUnits="userSpaceOnUse">
            <stop offset="0.130088" stop-color="#F74800"/>
            <stop offset="1" stop-color="#FD8000"/>
            </linearGradient>
            </defs>
            </svg>
          <span class="font-bold text-slate-800">Jayalakshmi</span>
          <span class="text-slate-500">interiors</span>
        </a>
        <div class="block lg:hidden ml-auto">
          <MenuIcon class="w-6 h-6 text-gray-800" />
        </div>
      </div>

      <Astronav>
        <MenuItems
          class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0 justify-end">
          <ul class="flex flex-col lg:flex-row lg:gap-3">
            {
              menuitems.map((item: any, index) => (
                <Fragment key={index}>
                  {item?.children && (
                    <Dropdown
                      title={item.title}
                      children={item.children}
                      lastItem={index === menuitems.length - 1}
                    />
                  )}
                  {!item.children && (
                    <li>
                      <a
                        href={item.path}
                        class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-gray-900">
                        <span>{item.title}</span>
                        {item.badge && (
                          <span
                            class="ml-1 px-2 py-0.5 text-[10px] bg-orange-500 animate-pulse font-semibold uppercase text-white rounded-full"
                            >
                            New
                          </span>
                        )}
                      </a>
                    </li>
                  )}
                </Fragment>
              ))
            }
          </ul>
        </MenuItems>
      </Astronav>
    </div>
  </header>
</Container>
