---
const reviews = [
	{
		img: '/natasha.png',
		name: 'Nattasha Mith',
		location: 'Sydney, USA',
		review: 'Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.'
	},
	{
		img: '/benny.png',
		name: 'Benny Roll',
		location: 'Sydney, New York',
		review: 'Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.'
	},
	{
		img: '/raymond.png',
		name: 'Raymond Galario',
		location: 'Sydney, Australia',
		review: 'Lorem Ipsum is simply dummy text of the typesetting industry. Ipsum has been.'
	},
]
---
<div class="w-full flex flex-col bg-primary-300 rounded-[48px] px-6 py-[88px]">
    <h2 class="font-bold text-center text-3xl lg:text-4xl text-gray-800 tracking-wide w-full lg:max-w-[50%] pb-9 mx-auto">
      What People Think About Us
    </h2>
  
    <div class="flex flex-col gap-8 lg:gap-10 lg:flex-row justify-between">
      {
        reviews.map((rev) => {
          return (
            <div class="w-full bg-white max-w-[370px] px-[37px] py-[53px] rounded-3xl mx-auto flex flex-col justify-center gap-4 md:gap-6">
              <div class="flex flex-col sm:flex-row gap-6 items-center">
                <img src={rev.img} alt={rev.name} />
                <p class="flex flex-col tracking-tight leading-9">
                  <span class="text-lg lg:text-[25px] font-bold text-gray-800">{rev.name}</span>
                  <span class="text-sm lg:text-base text-slate-500">{rev.location}</span>
                </p>
              </div>
              <p class="text-lg leading-relaxed text-slate-500 text-center sm:text-left">
                {rev.review}
              </p>
            </div>
          )
        })
      }
    </div>
  </div>
  